<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
</head>
<body>
<div>
    <h4>current user list</h4>
    <table>
        <thead>
        <tr>
            <th>FullName</th>
            <th>Age</th>
            <th>Employee</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="model:${data}">
            <td th:text="${model.getFullName()}"/>
            <td th:text="${model.getAge()}"/>
            <td th:text="${model.getEmployee() ? 'EMPLOYEE' : '-'}"/>
            <td th:text="${model.getGender()}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>