<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:fragment="navbar" class="navbar">
    <div class="nav-actions">
        <form action="/find" method="post" th:object="${data}">
            <!-- Separate Buttons with Hidden Input Fields -->
            <button type="submit" name="name" value="USER">User</button>
            <button type="submit" name="name" value="PROJECT">Project</button>
        </form>
    </div>
</div>
</body>
</html>
