<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <a th:href="@{/project/new}">Add Project</a>
    <br/>
    <h4>current project list</h4>
    <table class="user-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Stage</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="model:${data}">
            <td th:text="${model.getName()}"/>
            <td th:text="${model.getStage()}"/>
            <td th:text="${model.getDescription()}"/>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/index.js}"></script>
</body>
</html>